<!-- views/faq.ejs -->
<%- include('partials/header') %>
<!-- Update faq.ejs -->
<div class="max-w-4xl mx-auto">
    <% faqs.forEach((faq, index) => { %>
      <div class="collapse collapse-plus bg-base-200 mb-2">
        <input type="radio" name="faq-accordion" checked="<%= index === 0 ? 'checked' : '' %>">
        <div class="collapse-title text-xl font-medium">
          <%= faq.question %>
        </div>
        <div class="collapse-content">
          <p><%= faq.answer %></p>
        </div>
      </div>
    <% }) %>
  </div>
<%- include('partials/footer') %>